/* static/css/styles.css */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header, footer {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #555;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
    background-color: #777;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #3a3a3a;
}

section {
    margin-left: 1em;
    padding: 1em;
    max-width: 90%;
    margin: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend{
    color: #fff;
    font-weight: bold; 
}
label{
    color: #fff;
    font-weight: bold;
}
/* static/css/styles.css */

/* Button styles */
.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
}

.button-danger {
    background-color: #f44336;
}

.button:hover {
    background-color: #45a049;
}

.button-danger:hover {
    background-color: #d32f2f;
}

/* Table styles */
/* styles.css */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

thead {
    background-color: #f4f4f4;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


/* Form styles */
form {
    margin-top: 20px;
    margin-left: 120px;
    width: 80%;
    height: 70%;
    background-color: #3a3a3a;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

legend {
    font-weight: bold;
}

input[type="text"], input[type="date"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], button {
    margin-top: 10px;
}

.wrapper {
    flex: 1; /* This makes sure the wrapper takes up the full remaining space */
    display: flex;
    flex-direction: column;
}

header, main {
    padding: 20px;
}

main {
    flex: 1; /* Ensures main content takes up the remaining space within wrapper */
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
